@charset "utf-8";

/* 各カードの色 */

.card__overlay[type="application"]{
  background: linear-gradient(to right, rgba(42,159,255,0.1) 0%,#f2849e 95%,#f2849e 100%);
}
.card__overlay[type="design"]{
  background: linear-gradient(to right, rgba(42,159,255,0.1) 0%,#7ecaf6 95%,#7ecaf6 100%);
 }
.card__overlay[type="event"]{
  background: linear-gradient(to right, rgba(42,159,255,0.1) 0%,#7bd0c1 95%,#7bd0c1 100%);
}
.card__overlay[type="illust"]{
  background: linear-gradient(to right, rgba(42,159,255,0.1) 0%,#c75b9b 95%,#c75b9b 100%);
}
.card__overlay[type="music"]{
  background: linear-gradient(to right, rgba(42,159,255,0.1) 0%,#ae85ca 95%,#ae85ca 100%);
}

.card__overlay[type="manga"]{
  background: linear-gradient(to right, rgba(42,159,255,0.1) 0%,#8499e7 95%,#8499e7 100%);
}


/*  6つめの　色　#8499e7 */

@media screen and (max-width: 600px) {
  .card__overlay[type="application"]{
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.1) 0%,  #f2849e 100%);
  }

  .card__overlay[type="design"]{
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.1) 0%,  #7ecaf6 100%);
  }

  .card__overlay[type="event"]{
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.1) 0%,  #7bd0c1 100%);
  }

  .card__overlay[type="illudt"]{
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.1) 0%,  #c75b9b 100%);
  }

  .card__overlay[type="music"]{
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.1) 0%,  #ae85ca 100%);
  }

  .card__overlay[type="manga"]{
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.1) 0%,  #8499e7 100%);
  }

}


/* アプリケーション */
.work-card[data-movie="4j-app"],.recom-card[data-movie="4j-app"]{
  background-image: url("../../images/work/application/01/01.png");
}
.work-card[data-movie="pbl"],.recom-card[data-movie="pbl"] {
  background-image: url("../../images/work/application/02/01.png");
}
.work-card[data-movie="portfolio"],.recom-card[data-movie="portfolio"] {
  background-image: url("../../images/work/application/03/01.png");
}

/* イベント */
.work-card[data-movie="toukitaikai"],.recom-card[data-movie="toukitaikai"] {
  background-image: url("../../images/work/event/01/01.png");
}
.work-card[data-movie="g-live"],.recom-card[data-movie="g-live"] {
  background-image: url("../../images/work/event/02/01.png");
}
.work-card[data-movie="bunkasai"],.recom-card[data-movie="bunkasai"] {
  background-image: url("../../images/work/event/03/01.png");
}
.work-card[data-movie="ryosai"],.recom-card[data-movie="ryosai"] {
  background-image: url("../../images/work/event/04/01.png");
}
.work-card[data-movie="omoide"],.recom-card[data-movie="omoide"] {
  background-image: url("../../images/work/event/05/01.png");
}



/* デザイン */
.work-card[data-movie="yakiniku"],.recom-card[data-movie="yakiniku"] {
  background-image: url("../../images/work/design/01/05.jpeg");
}
.work-card[data-movie="shibuT"],.recom-card[data-movie="shibuT"] {
  background-image: url("../../images/work/design/02/03.JPG");
}
.work-card[data-movie="pop-otyoko"],.recom-card[data-movie="pop-otyoko"] {
  background-image: url("../../images/work/design/03/03.jpg");
}
.work-card[data-movie="g-live2020T"],.recom-card[data-movie="g-live2020T"] {
  background-image: url("../../images/work/design/04/01.JPG");
}
.work-card[data-movie="buT"],.recom-card[data-movie="buT"] {
  background-image: url("../../images/work/design/05/05.JPG");
}
.work-card[data-movie="shibumag"],.recom-card[data-movie="shibumag"] {
  background-image: url("../../images/work/design/06/01.JPG");
}
.work-card[data-movie="kamoku-logo"],.recom-card[data-movie="kamoku-logo"] {
  background-image: url("../../images/work/design/07/03.JPG");
}
.work-card[data-movie="site-logo"],.recom-card[data-movie="site-logo"] {
  background-image: url("../../images/work/design/08/02.png");
}


/* 漫画 */
.work-card[data-movie="manga"],.recom-card[data-movie="manga"] {
  background-image: url("../../images/work/manga/top.png");
}