@charset "utf-8";

/* .movie {
    width: 930px;
    max-width: 90%;
    background-color: #f8f8f8;
    padding: 50px 60px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
} */

.movie iframe {
    display: block;
    width: 100%;
    height: 456px;
    margin-top: 30px;
}

@media (max-width: 800px){
    .title {
        height: 150px;
    }
    
}